.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(69,209,222,.8);
  color: #fff;
  @include noto-sans;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;

  span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 6px;

    &:after{
      position: relative;
      top: 3px;
      width: 7px;
      height: 7px;
      margin-left: 7px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
    }

  }

  &.show{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

}

@media (min-width: $tablet-portrait) {

  .back-to-top{
    left: 50%;
    width: 200px;
    border-radius: 2px;
    -webkit-transform: translate(-50%, 40px);
    transform: translate(-50%, 40px);

    &.show{
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

  }

}

@media (min-width: $desktop) {

  .back-to-top{
    margin-left: 169px;
    -webkit-transition: background-color .3s ease, opacity .3s ease, transform .3s ease;
    transition: background-color .3s ease, opacity .3s ease, transform .3s ease;

    &:hover{
      background-color: rgba(69,209,222,1);
    }

  }

}