.bonus {

  &__item{
    border: 1px solid #dce0db;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.21);
    @include noto-sans;
    font-size: 12px;
  }

  &__header{
    border-bottom: 1px solid #dce0db;
    background-color: #f2f2f2;

    h3{
      color: #0fc2c8;
      font-size: 15px;
      font-weight: 600;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .bonus{

  }

}

@media (min-width: $desktop) {

  .bonus{

  }

}