.bonus {
  margin-bottom: 40px;

  &__item{
    width: 100%;
    max-width: 900px;
    margin-bottom: 15px;
    border: 1px solid #dce0db;
    border-radius: 5px;
    @include noto-sans;
    font-size: 12px;
  }

  &__header{
    padding: 11px 13px;
    border-bottom: 1px solid #dce0db;
    background-color: #f2f2f2;

    h3{
      margin-bottom: 13px;
      color: #0fc2c8;
      font-size: 15px;
      font-weight: 600;
      line-height: 17px;
    }

    &-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 4px;
    }

  }

  &__country{
    display: inline-block;
    position: relative;
    width: 22px;
    margin-right: 12px;

    img{
      display: block;
      width: 100%;
    }

  }

  &__count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #83868a;

    svg{
      width: 11px;
      margin-right: 3px;
      fill: #83868a;
    }

  }

  &__expires{
    position: relative;
    top: 1px;
    color: #2ea921;

    &.finished{
      color: #d40000;
      text-transform: uppercase;
    }

  }

  &__status{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -8px;
    width: 11px;
    height: 11px;
    border: 1px solid #eceeeb;
    border-radius: 20px;
    background-color: #fff;

    svg{
      width: 7px;
    }

  }

  &__frame{
    padding: 15px 15px 0;
    border-bottom: 1px solid #dce0db;
  }

  &__code{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    margin-bottom: 13px;
    color: #283746;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-color: #f2f2f2;
  }

  &__marks{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;

    a{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 47%;
      border-radius: 3px;
      color: #d40000;
      font-size: 14px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      text-align: center;
      overflow: hidden;

      &:first-child{
        color: #2ea921;

        .bonus__marks-icons{
          background-color: #2ea921;
        }

      }

    }

    svg{
      width: 15px;
      fill: #fff;
    }

    &-num{
      width: calc( 100% - 27px );
      text-align: center;
    }

    &-icons{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 27px;
      height: 30px;
      background-color: #d40000;
    }

  }

  &__comments{

    &-add{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      margin-bottom: 21px;
      border-radius: 2px;
      color: #0fc2c8;
      font-size: 13px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

      svg{
        position: relative;
        top: 2px;
        left: -1px;
        width: 13px;
        margin-right: 3px;
        fill: #0fc2c8;
      }

    }

  }

  &__casinos{

    &-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    &-img{
      max-width: 61px;

      img{
        display: block;
        max-width: 100%;
      }

    }

  }

  &__content{
    padding: 11px 12px 0 15px;
    font-size: 13px;
    line-height: 20px;

    h3{
      margin-bottom: 5px;
    }

    p{
      margin-bottom: 13px;
    }

  }

  &__characteristic{
    align-items: flex-start;
    margin-right: 3px;
    margin-bottom: 12px;
    line-height: 25px;
    white-space: nowrap;

    dl{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    dt{
      width: 50%;
      font-weight: 600;
    }

    dd{
      width: 50%;
      text-align: right;

      p{
        margin-bottom: 0;
      }

    }

  }

  &__slider {
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid #dce0db;
  }

  &__slide{
    padding: 18px 14px 10px 16px;
    color: #283746;
    font-size: 13px;
    line-height: 20px;

    &-content{
      margin-bottom: 8px;

      .btn{
        display: none;
      }

    }

    &-title{
      margin-bottom: 9px;
      color: #83868a;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: .3px;
    }

    &-name{
      font-size: 16px;
      font-weight: 600;
    }

    &-img{
      width: 100%;

      img{
        display: block;
        width: 100%;
      }

    }

    span{
      color: #83868a;
    }

  }

  &__button-next,
  &__button-prev{
    display: none;
  }

  &__pagination{
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      margin: 0 6px;
      opacity: 1;
      background-color: #c6cecd;

      &.swiper-pagination-bullet-active{
        background-color: #45d1de;
      }

    }

  }

  &_minimize{

    .bonus__wrap, .bonus__slider{
      display: none;
    }

    .bonus__item{
      position: relative;
    }

    .bonus__item-minimize{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      bottom: -20px;
      background-color: #505c68;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      svg{
        width: 15px;
        fill: #75ced6;
      }

    }

  }

  &__item-minimize{
    display: none;
  }

}

@media (min-width: $tablet-portrait) {

  .bonus{

    &__item{
      margin: 0 auto 20px;
    }

    &__header{
      position: relative;
      padding: 16px 18px 14px;

      h3{
        margin-bottom: 8px;
        font-size: 16px;
      }

      &-info{
        justify-content: flex-start;
        margin-left: 2px;
      }

    }

    &__wrap{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
    }

    &__frame{
      width: 326px;
      padding: 20px 21px 0 20px;
      border-right: 1px solid #dce0db;
      border-bottom: none;
    }

    &__content{
      width: calc( 100% - 328px );
      padding: 13px 13px 4px 19px;
    }

    &__expires {
      position: absolute;
      top: 39%;
      right: 19px;
      font-size: 13px;
    }

    &__country{
      top: -1px;
      width: 24px;
      margin-right: 23px;
    }

    &__count{
      position: relative;
      top: 1px;

      svg{
        position: relative;
        top: -1px;
        width: 12px;
        margin-right: 5px;
      }

    }

    &__code{
      margin-bottom: 17px;

      &-icons{
        width: 29px;
      }

    }

    &__comments{

      &-add{
        margin-bottom: 36px;
      }

    }

    &__casinos{

      &-img{
        max-width: 76px;
      }

      &-item{
        margin-bottom: 33px;
      }

    }

    &__characteristic{
      display: flex;
      justify-content: flex-start;
      margin: 0 -13px 33px 0;

      dl{
        display: block;
        width: 25%;
      }

      dt{
        width: auto;
        margin-bottom: 3px;
      }

      dd{
        width: auto;
        text-align: left;
        line-height: 19px;
      }

    }

    &__slider{
      position: relative;
    }

    &__swiper{
      width: 450px;
    }

    &__slide{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 10px 0;

      &-content{
        width: 174px;
        order: 2;

        .btn{
          display: flex;
        }

      }

      &-title {
        margin-bottom: 15px;
        letter-spacing: .5px;
      }

      &-img{
        order: 1;
        width: 220px;
      }

    }

    &__pagination{
      padding-right: 230px;

      span{
        margin: 0 3px;
      }

    }

    &__button-next,
    &__button-prev{
      display: block;
      position: absolute;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -8px;
      border-radius: 50px;
      background-color: #45d1de;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        width: 7px;
        height: 7px;
        border-right: 1.5px solid #fff;
        border-bottom: 1.5px solid #fff;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: center;
      }

      &.swiper-button-disabled{
        background-color: #abb1b9;
      }

    }

    &__button-next{
      left: 50%;
      margin-left: 250px;

      &:before{
        left: 49%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

    }

    &__button-prev{
      right: 50%;
      margin-right: 250px;

      &:before{
        left: 56%;
        transform: translate(-50%, -50%) rotate(135deg);
      }

    }

  }

}

@media (min-width: $desktop) {

  .bonus{
    text-align: left;

    &__frame{
      border-bottom: none;
    }

    &__marks{

      a{
        -webkit-transition: box-shadow .3s ease;
        transition: box-shadow .3s ease;

        &:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        }

      }

    }

    &__comments-add{
      -webkit-transition: box-shadow .3s ease;
      transition: box-shadow .3s ease;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
      }

    }

    &_minimize{

      .bonus__item-minimize{
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .3s ease, visibility .3s ease;
        transition: opacity .3s ease, visibility .3s ease;
      }

      .bonus__item:hover{

        .bonus__item-minimize{
          opacity: 1;
          visibility: visible;
        }

      }

    }

  }

}