.btn {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction();
  background: #45d1de;
  padding: 0 26px;
  height: 40px;
  @include noto-sans();
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  letter-spacing: -0.2px;
  border: none;
  border-radius: 3px;
  -webkit-transition: background 0.3s, color 0.3s, border 0.3s;
  transition: background 0.3s, color 0.3s, border 0.3s;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);

  span {
    width: 100%;
    text-align: center;
  }

  &:hover {
    background: #fff;
    color: #2d4475;
  }

  &:active {
    background: #fff;
    color: #2d4475;
  }

  &_1{
    width: 119px;
    height: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

}

@media (min-width: $tablet-portrait) {

  .btn{

    &_1{
      width: 111px;
    }

  }

}

@media (min-width: $desktop) {

  .btn {
    padding: 0 21px;

  }

}