.btn {
  @include inline-flex();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction();
  background: #45d1de;
  padding: 0 26px;
  height: 40px;
  @include noto-sans();
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  letter-spacing: -0.2px;
  border-radius: 2px;
  border: 2px solid transparent;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);

  span {
    width: 100%;
    text-align: center;
  }

  &:active {
    border-color: #45d1de;
    background: #fff;
    color: #45d1de;
  }

  &_1{
    width: 119px;
    height: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  &_2 {
    padding: 0 12px;
    color: #45d1de;
    background: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);

    svg {
      margin: 0 10px 0 0;
      width: 12px;
      height: 12px;
      fill: #02bfc5;
      -webkit-transition: fill 0.3s;
      transition: fill 0.3s;
    }

  }

  &_3{
    width: 119px;
    height: 30px;
    background-color: #9e9e9e;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

}

@media (min-width: $tablet-portrait) {

  .btn {
    padding: 0 21px;

    &_1, &_3{
      width: 111px;
    }

    &_2 {
      padding: 0 27px;
    }

    &_4{
      width: 152px;
      height: 30px;
      margin-top: 14px;
      background-color: #fff;
      color: #0fc2c8;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

  }

}

@media (min-width: $desktop) {

  .btn {
    padding: 0 21px;
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    }

    &_2 {
      padding: 0 27px;
    }

  }

}