.comments {
  margin: 0 0 16px;
  color: #283746;

  &__head {
    @include flexbox();
    @include flex-direction();
    @include align-items(center);
    @include justify-content(space-between);
    margin: 0 0 21px;
    text-align: left;

    >div {
      width: 48%;
      text-align: right;

      &:first-child {
        text-align: left;
      }

    }

  }
  &__title {
    position: relative;
    padding: 0 0 0 23px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgIGZpbGw9IiMwZmMyYzgiIHZlcnNpb249IjEuMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGQ9Ik0xMiwyM0ExLDEgMCAwLDEgMTEsMjJWMTlIN0EyLDIgMCAwLDEgNSwxN1Y3QzUsNS44OSA1LjksNSA3LDVIMjFBMiwyIDAgMCwxIDIzLDdWMTdBMiwyIDAgMCwxIDIxLDE5SDE2LjlMMTMuMiwyMi43MUMxMywyMi45IDEyLjc1LDIzIDEyLjUsMjNWMjNIMTJNMTMsMTdWMjAuMDhMMTYuMDgsMTdIMjFWN0g3VjE3SDEzTTMsMTVIMVYzQTIsMiAwIDAsMSAzLDFIMTlWM0gzVjE1WiIgLz48L3N2Zz4=);
    background-position: left 2px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;

  }
  &__item {
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dce0db;
  }
  &__info {
    @include flexbox();
    @include flex-direction();
    @include align-items();
    @include justify-content(space-between);
    text-align: left;
    margin: 0 0 14px;

    >div {
      width: 48%;
      text-align: right;

      &:first-child {
        text-align: left;
      }

    }
  }
  &__name {
    @include lato();
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #283746;

    img {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 0;
    }

  }
  &__time {
    margin: 2px 0 0;
    @include lato();
    font-size: 12px;
    line-height: 16px;
    color: #83868a;
  }
  &__content {
    @include lato();
    font-size: 13px;
    line-height: 20px;
    color: #83868a;

    p {
      margin: 0 0 4px;
    }

  }
  &__info {
    margin: 0 0 17px;
  }
  &__write {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dce0db;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    a {
      @include inline-flex();
      @include justify-content();
      @include align-items(center);
      @include flex-direction();
      height: 41px;
      width: 100%;
      padding: 0 10px;
      border: 1px solid #83868a;
      font-size: 15px;
      line-height: 15px;
      color: #83868a;
      border-radius: 1px;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      margin: 0;
      padding: 0;
    }


  }

}

@media (min-width: $tablet-portrait) {

  .comments {

    &__title {
      padding: 0 0 0 32px;
      background-position: left 4px;
      background-size: 24px 24px;
      font-size: 26px;
      line-height: 30px;
    }
    &__item {
      padding-bottom: 7px;
      margin-bottom: 20px;
    }
    &__head {
      @include align-items(flex-start);
      margin: 0 0 30px;

      >div {
        width: 48%;
        padding-top: 5px;
        text-align: right;

        &:first-child {
          padding-top: 0;
          text-align: left;
        }

      }

    }
    &__content {

      p {
        margin: 0 0 10px;
      }

    }
    &__write {
      display: none;
    }

  }

}
@media (min-width: $desktop) {

  .comments {

    &__head {
      margin: 0 0 21px;
    }
    &__info {
      margin: 0 0 14px;
    }

  }

}