.filter {
  @include noto-sans;

  &__title{
    margin-bottom: 12px;
    font-size: 12px;

    h2{
      margin-bottom: 7px;
      font-size: 17px;
      font-weight: 400;
    }

    span{
      color: #0fc2c8;
    }

  }

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 21px;

    .websters-select{
      width: 34%;
      max-width: 164px;
    }

  }

  &__name{
    display: none;
  }

  &__frame{
    position: relative;
    width: 34%;

    &-btn{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 97px;
      height: 30px;
      padding: 0 25px 0 14px;
      border: 1px solid #dce0db;
      border-radius: 3px;
      color: #83868a;
      font-size: 12px;
      font-weight: 600;
      background-color: #fff;
      text-align: left;
      white-space: nowrap;
      text-transform: uppercase;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      -webkit-transition: transform .3s ease, background-color .3s ease, color .3s ease, border-color .3s ease;
      transition: transform .3s ease, background-color .3s ease, color .3s ease, border-color .3s ease;

      &:after{
        position: absolute;
        top: 42%;
        right: 9px;
        //right: 17px;
        width: 7px;
        height: 7px;
        border-right: 1.5px solid #83868a;
        border-bottom: 1.5px solid #83868a;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: center;
        -webkit-transition: transform 200ms ease-in-out, border-color .3s ease;
        transition: transform 200ms ease-in-out, border-color .3s ease;
        content: '';
      }

      &.close{
        color: #fff;
        background-color: #45d1de;
        border-color: #45d1de;

        &:after{
          top: 42%;
          transform: rotate(-135deg);
          border-right-color: #fff;
          border-bottom-color: #fff;
        }

      }

    }

    &-selected{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -8px;
      left: 1px;
      width: 16px;
      height: 16px;
      border: 1px #dee2dd solid;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .3s ease, visibility .3s ease;
      transition: opacity .3s ease, visibility .3s ease;

      svg{
        width: 8px;
        fill: #2ea921;
      }

    }

    &.active{

      .filter__frame-btn{
        border-color: #45d1de;
        color: #fff;
        background-color: #45d1de;

        &:after{
          border-right-color: #fff;
          border-bottom-color: #fff;
        }

      }

      .filter__frame-selected{
        opacity: 1;
        visibility: visible;
      }

    }

  }

  &__popup{
    position: absolute;
    top: calc( 100% + 8px );
    left: 0;
    width: 163px;
    border: 1px solid #dce0db;
    border-radius: 3px;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;

    &.show{
      opacity: 1;
      visibility: visible;
    }

    &.gray{

      &:after{
        border-bottom-color: #f2f2f2;
      }

    }

    label{
      display: flex;
      align-items: center;
      text-align: left;
      padding: 9px 10px 10px;
      border-bottom: 1px solid #e0e5e4;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;

      img{
        width: 25px;
        margin-right: 5px;
      }

      &:last-child{
        border-bottom: none;
      }

      &.illumination{
        background-color: #f2f2f2;
      }

    }

    &:after,
    &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 5px;
      margin-left: -5px;
      -webkit-transition: border-bottom-color .3s ease;
      transition: border-bottom-color .3s ease;
    }

    &:before {
      border-color: rgba(220, 224, 219, 0);
      border-bottom-color: #dce0db;
      border-width: 6px;
      margin-left: -6px;
    }

  }

  &__display{
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
      margin-left: 7px;
    }

    .active svg{
      fill: #45d1de;
    }

    svg{
      width: 30px;
      height: 30px;
      fill: #cbd0d7;
    }

  }

  &__sort{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    width: 97px;
    max-width: 164px;
    height: 30px;
    border: 1px solid #dce0db;
    color: #83868a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    &:after{
      position: absolute;
      top: 42%;
      right: 9px;
      //right: 17px;
      width: 7px;
      height: 8px;
      border-right: 1.5px solid #83868a;
      border-bottom: 1.5px solid #83868a;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center;
      transition: transform 200ms ease-in-out;
      z-index: 1;
      content: '';
    }

    &.show{

      &:after {
        top: 42%;
        transform: rotate(-135deg);
      }

      .filter__sort-popup{
        opacity: 1;
        visibility: visible;
      }

    }

    &-select{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 25px 0 14px;
      @include noto-sans;
      font-size: 12px;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: uppercase;
      text-align: left;
      z-index: 2;
    }

    &-popup {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 163px;
      margin-top: 8px;
      border: 1px solid #dce0db;
      border-radius: 3px;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 13px;
      background-color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      transition: opacity .3s ease, visibility .3s ease;

      &:after,
      &:before {
        bottom: 100%;
        left: 72%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:before {
        border-color: rgba(220, 224, 219, 0);
        border-bottom-color: #dce0db;
        border-width: 6px;
        margin-left: -6px;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 5px;
        margin-left: -5px;
        transition: border-bottom-color .3s ease;
      }

      label{
        display: flex;
        align-items: center;
        text-align: left;
        padding: 9px 10px 10px;
        border-bottom: 1px solid #e0e5e4;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background-color .3s ease;

        &:last-child{
          border-bottom: none;
        }

        input{
          display: none;
        }

        &.illumination {
          color: #283746;
        }

      }

      &.gray:after {
        border-bottom-color: #f2f2f2;
      }

    }

  }

}

@media (min-width: $tablet-portrait) {

  .filter{

    &__title{
      margin-bottom: 16px;
      font-size: 15px;

      h2{
        margin-bottom: 9px;
        font-size: 25px;
      }

    }

    &__wrap{
      margin-bottom: 17px;
    }

    &__frame{
      width: calc( 100% - 295px );
      margin-right: 10px;

      &-btn{
        display: none;
      }

    }

    &__popup{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: 0;
      left: -6px;
      width: 100%;
      border: none;
      font-size: 15px;
      opacity: 1;
      visibility: visible;
      box-shadow: none;

      label{
        padding: 9px 0 10px;
        border-bottom: 0;

        &.illumination{
          background-color: transparent;
        }

      }

      &:before, &:after{
        display: none;
      }

    }

    &__display{

      a{
        margin-left: 10px;
      }

      svg{
        width: 40px;
        height: 40px;
      }

    }

    &__frame-selected{
      display: none;
    }

    &__sort{
      width: 164px;
      height: 40px;

      &:after{
        top: 47%;
        right: 11px;
      }

      &-select{
        padding: 0 25px 1px 8px;
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
      }

      &-popup{

        &:after,
        &:before {
          left: 92%;
        }

      }

    }

  }

}

@media (min-width: $desktop) {

  .filter{

    &__title{
      margin-bottom: 14px;
    }

    &__frame{
      width: calc( 100% - 447px);
    }

    &__name{
      display: block;
      margin-top: 11px;
      color: #a0a3a8;
      font-size: 14px;
      white-space: nowrap;
    }

    &__display{

      a.active{
        cursor: default;
      }

    }

    &__sort{
      margin: 0 -11px 0 11px;

      &-select{
        cursor: pointer;
      }

      &-popup {

        label{

          &:hover{
            color: #283746;
            background-color: #f2f2f2;
          }

          &.illumination {
            cursor: default;
            background-color: #fff!important;
          }

        }

      }

      &:after{
        right: 10px;
        height: 7px;
        cursor: pointer;
      }

    }

  }

}