.info {
  position: absolute;
  right: 5px;
  height: inherit;
  @include noto-sans;

  &__btn-open{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: inherit;
    padding: 0;
    border: none;
    background: transparent;

    svg{
      fill: #fff;
      width: 16px;
    }

  }

  &__frame{
    position: absolute;
    top: 42px;
    right: 6px;
    border: 1px solid #e6eff0;
    border-radius: 3px;
    color: #a3a8af;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    &:after {
      bottom: 100%;
      right: 7px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 4px;
    }

  }

  &__sub-frame{
    padding-bottom: 8px;

    .info__item{
      padding: 14px 10px 13px;
    }

  }

  &__item{
    display: block;
    padding: 11px 10px 12px;
    border-bottom: 1px solid #e0e5e4;
    background-color: #fff;
    color: #83868a;
    font-size: 13px;
    text-align: left;

    &:first-letter{
      text-transform: uppercase;
    }

  }

}

@media (min-width: $tablet-portrait) {
  .info {

    &__btn-open{
      width: 60px;

      svg{
        width: 25px;
      }

    }

    &__frame{
      top: 65px;
      right: 16px;
    }

  }
}

@media (min-width: $desktop) {
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 22px;

    &__btn-open{
      width: 60px;

      svg {
        width: 24px;
      }

    }

    &__frame{
      position: static;
      top: auto;
      right: auto;
      margin-right: 11px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;

      &:after{
        display: none;
      }

    }

    &__sub-frame{
      position: absolute;
      top: 58px;
      right: 20px;
      padding-bottom: 6px;
      border: 1px solid #e6eff0;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);

      .info__item{
        padding: 13px 10px 13px;
        -webkit-transition: color .3s ease, background-color .3s ease;
        transition: color .3s ease, background-color .3s ease;

        &:first-child{
          padding: 11px 10px 12px;
        }

        &:hover{
          color: #283746;
          background-color: #f2f2f2;
        }

      }

      &:after {
        bottom: 100%;
        right: 7px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 4px;
      }

    }

    &__item{

      &_contact{
        padding: 0;
        border: none;
        background: transparent;
        color: #2c91a3;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;

        &:hover{
          color: #283746;
        }

      }

    }

  }
}