#aside-links{

  &__back{
    display: inline-block;
    margin: 0 14px 12px;
    padding: 8px 22px;
    border-radius: 1px;
    border: none;
    font-size: 13px;
    background-color: #45d1e0;
    color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    svg{
      width: 10px;
      height: 10px;
      fill: #fff;
    }

  }

  &__search{
    position: relative;
    margin: 17px 14px 9px;
    padding: 0;
    border: 1px solid #45d1dc;
    border-radius: 5px;

    input{
      width: 100%;
      height: 40px;
      padding: 2px 40px 0 29px;
      color: #fff;
      @include noto-sans;
      font-size: 14px;
      background-color: transparent;
      border: none;
      border-radius: 5px;
    }

    &-btn {
      position: absolute;
      top: 57%;
      left: 4px;
      border: none;
      background-color: transparent;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);

      svg{
        width: 11px;
        fill: #fff;
      }

    }

    &-cancel {
      display: block;
      position: absolute;
      top: 3px;
      right: 0;
      width: 34px;
      height: 35px;
      padding: 0;
      border: none;
      background-color: transparent;

      &:before,
      &:after {
        position: absolute;
        left: 12px;
        width: 12px;
        height: 2px;
        background-color: #fff;
        content: '';
      }

      &:before {
        top: 17px;
        background-color: #fff;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

      &:after {
        bottom: 16px;
        background-color: #fff;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

    }

  }

  &__no-results {
    display: none;
    padding: 13px 14px;
    color: #02bfc5;
  }

  &__preload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 157px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;

    &-element {
      display: inline-block;
      width: 2em;
      height: 2em;
      pointer-events: none;
      border: 1px solid #283746;
      border-radius: 50%;
      -webkit-animation: 1s loader linear infinite;
      animation: 1s loader linear infinite;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -.30em;
        left: 50%;
        border: .30em solid #45d1de;
        border-radius: 50%;
      }

    }

  }

  &__show-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 40px;
    margin: 10px auto 15px;
    padding: 0;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background-color: #45d1de;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;

    i{
      width: calc( 100% - 40px );
      font-style: normal;
      text-align: center;
    }

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: inherit;
      border-left: 1px solid #0ea2a7;

      svg{
        width: 14px;
        fill: #fff;
      }

    }

  }

}

.aside-links {
  position: relative;
  padding: 28px 0 14px;
  @include noto-sans;
  font-size: 14px;

  &:before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #3e566e;
    content: '';
  }

  &:first-child{
    padding-top: 19px;

    &:before{
      display: none;
    }

  }

  &.hide{
    display: none;
  }

  &__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 13px;
    padding: 0 14px;
    font-size: 16px;
    color: #fff;

    h2{
      font-weight: 600;
    }

    &_1{
      font-size: 15px;

      h2{
        text-transform: uppercase;
      }

    }

  }

  &__wrap{
    -webkit-transition: height .5s ease;
    transition: height .5s ease;
    overflow: hidden;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 11px 14px;
    color: #fff;
    line-height: 18px;
    -webkit-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;

    i{
      width: calc( 100% - 65px );
      font-style: normal;
    }

    span{
      color: #45d1de;
      font-size: 11px;
      white-space: nowrap;
    }

    &.active{
      background-color: #45d1dd;
      color: #283746;
      cursor: text;

      span{
        color: #283746;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
      }

    }

  }

  &__update{
    padding: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__show-more{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 13px 0 11px;
    padding: 0 14px;
    border: none;
    color: #45d1de;
    font-size: 14px;
    letter-spacing: .4px;
    background-color: transparent;

    &:after{
      position: relative;
      top: -1px;
      width: 5px;
      height: 5px;
      margin-left: 7px;
      border-right: 1px solid #45d1de;
      border-bottom: 1px solid #45d1de;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
      -webkit-transition: top .3s ease, transform .3s ease;
      transition: top .3s ease, transform .3s ease;
    }

    &.hide-links{

      &:after{
        top: 2px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

    }

  }

  &_casinos{
    position: relative;
    width: 100%;
    background-color: inherit;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    .aside-links__wrap{
      position: relative;
      max-height: 320px;
    }

  }

  &_casinos-search{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100%;
    padding-top: 22px;
    background-color: #283747;
    -webkit-transition: right .3s ease;
    transition: right .3s ease;
    z-index: 2;

    &.active{
      right: 0;
    }

    .aside-links__wrap{
      height: calc( 100% - 120px );
      max-height: none;
    }

    .aside-links__item{
      padding: 9px 14px;
    }

    &.load .aside-links__preload{
      opacity: 1;
      visibility: visible;
    }

  }

}

@media (min-width: $tablet-portrait) {

  #aside-links{

    &__show-more{
      margin-top: 11px;
      padding: 0 43px;
      font-size: 15px;

      &:after{
        width: 6px;
        height: 6px;
        margin-left: 11px;
      }

    }

    &__back {
      margin: 17px 43px 15px;
    }

    &__search{
      margin: 22px 43px 9px 44px;

      input{
        height: 38px;
        padding: 0 30px 0 33px;
      }

      &-btn{
        top: 56%;
        left: 6px;
      }

      &-cancel{
        top: 2px;
      }

    }

    &__no-results {
      padding: 12px 43px 13px;
    }

    &__show-all{
      width: 252px;
      height: 31px;
      margin: 14px auto 9px;

      span{
        width: 45px;
      }

    }

  }

  .aside-links{
    padding: 26px 0 11px;
    font-size: 15px;

    &:first-child {
      padding-top: 0;
    }

    &:before{
      left: 43px;
      right: 43px;
    }

    &__title{
      margin-bottom: 12px;
      padding: 0 43px 0 44px;

      &_1{
        margin-bottom: 14px;
      }

    }

    &__item{
      padding: 9px 43px;
      line-height: 22px;

      span{
        font-size: 12px;
      }

    }

    &_casinos{

      .aside-links__item{
        font-size: 14px;
        padding: 5px 44px;
      }

      .aside-links__title {
        margin-bottom: 6px;
      }

    }

    &_casinos-search{
      margin-top: -22px;

      .aside-links__wrap{
        height: calc( 100% - 150px );
      }

      .aside-links__item{
        padding: 9px 43px;
      }

    }

    &__show-more {
      margin-top: 11px;
      padding: 0 43px;
      font-size: 15px;
    }

  }

}

@media (min-width: $desktop) {

  #aside-links{

    &__show-all{
      -webkit-transition: color .3s ease;
      transition: color .3s ease;

      svg{
        -webkit-transition: fill .3s ease;
        transition: fill .3s ease;
      }

      &:hover{
        color: #283746;

        svg{
          fill: #283746;
        }

      }

    }

  }

  .aside-links{

    &__item{

      &:hover{
        background-color: #45d1dd;
        color: #283746;

        span{
          color: #283746;
        }

      }

    }

    &__show-more{

      &:hover{
        text-decoration: underline;
      }

    }

  }

}