.links {
  position: relative;
  margin-bottom: 8px;
  padding: 19px 14px 16px;
  @include noto-sans;
  font-size: 14px;

  &:after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #3e566e;
    content: '';
  }

  &:last-child:after{
    display: none;
  }

  &__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 13px;
    font-size: 16px;
    color: #fff;

    h2{
      font-weight: 600;
    }

    &_1{
      font-size: 15px;

      h2{
        text-transform: uppercase;
      }

    }

  }

  &__wrap{
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -14px;
    padding: 13px 14px 13px 14px;
    color: #fff;

    i{
      font-style: normal;
    }

    span{
      color: #45d1de;
      font-size: 11px;
    }

  }

  &__update{
    padding: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__show-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 40px;
    margin: 10px auto 15px;
    padding: 0;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background-color: #45d1de;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;

    i{
      width: calc( 100% - 40px );
      font-style: normal;
      text-align: center;
    }

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: inherit;
      border-left: 1px solid #0ea2a7;

      svg{
        width: 14px;
        fill: #fff;
      }

    }

  }

  &__show-more{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 13px 0 11px;
    padding: 0;
    border: none;
    color: #45d1de;
    font-size: 14px;
    letter-spacing: .4px;
    background-color: transparent;

    &:after{
      position: relative;
      top: -1px;
      width: 5px;
      height: 5px;
      margin-left: 7px;
      border-right: 1px solid #45d1de;
      border-bottom: 1px solid #45d1de;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
    }

  }

}

@media (min-width: $tablet-portrait) {

  .links{
    margin-bottom: 24px;
    padding: 0 43px 13px 44px;
    font-size: 15px;

    &:after{
      left: 43px;
      right: 43px;
    }

    &_casinos{

      .links__item{
        font-size: 14px;
        padding: 9px 43px;
      }

      .links__title {
        margin-bottom: 6px;
      }

    }

    &__title{
      margin-bottom: 12px;

      &_1{
        margin-bottom: 14px;
      }

    }

    &__item{
      margin: 0 -43px;
      padding: 12px 43px 13px;

      span{
        font-size: 12px;
      }

    }

    &__show-all{
      width: 252px;
      height: 31px;
      margin: 14px auto 9px;

      span{
        width: 45px;
      }

    }

    &__show-more{
      margin-top: 11px;
      font-size: 15px;

      &:after{
        width: 6px;
        height: 6px;
        margin-left: 11px;
      }

    }

  }

}

@media (min-width: $desktop) {

  .links{

    &__item{
      -webkit-transition: background-color .3s ease, color .3s ease;
      transition: background-color .3s ease, color .3s ease;

      span{
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
      }

      &:hover{
        background-color: #45d1dd;
        color: #283746;

        span{
          color: #283746;
        }

      }

    }

    &__show-all{
      -webkit-transition: color .3s ease;
      transition: color .3s ease;

      svg{
        -webkit-transition: fill .3s ease;
        transition: fill .3s ease;
      }

      &:hover{
        color: #283746;

        svg{
          fill: #283746;
        }

      }

    }

    &__show-more{

      &:hover{
        text-decoration: underline;
      }

    }

  }

}