.links {
  position: relative;
  padding: 27px 0 16px;
  @include noto-sans;
  font-size: 14px;

  &:before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #3e566e;
    content: '';
  }

  &:first-child{
    padding-top: 19px;

    &:before{
      display: none;
    }

  }

  &.hide{
    display: none;
  }

  &__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 13px;
    padding: 0 14px;
    font-size: 16px;
    color: #fff;

    h2{
      font-weight: 600;
    }

    &_1{
      font-size: 15px;

      h2{
        text-transform: uppercase;
      }

    }

  }

  &__wrap{
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
    overflow: hidden;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 13px 14px 13px 14px;
    color: #fff;
    -webkit-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;

    i{
      font-style: normal;
    }

    span{
      color: #45d1de;
      font-size: 11px;
    }

    &.active{
      background-color: #45d1dd;
      color: #283746;
      cursor: text;

      span{
        color: #283746;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
      }

    }

  }

  &__update{
    padding: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__search{
    display: none;
    position: relative;
    margin: 17px 14px 9px;
    padding: 0;
    border: 1px solid #45d1dc;
    border-radius: 5px;

    input{
      width: 100%;
      height: 40px;
      padding: 2px 10px 0 29px;
      color: #fff;
      @include noto-sans;
      font-size: 14px;
      background-color: transparent;
      border: none;
      border-radius: 5px;
    }

    button{
      position: absolute;
      top: 57%;
      left: 10px;
      border: none;
      background-color: transparent;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);

      svg{
        width: 11px;
        fill: #fff;
      }

    }

  }

  &__show-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 40px;
    margin: 10px auto 15px;
    padding: 0;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background-color: #45d1de;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-transform: uppercase;

    i{
      width: calc( 100% - 40px );
      font-style: normal;
      text-align: center;
    }

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: inherit;
      border-left: 1px solid #0ea2a7;

      svg{
        width: 14px;
        fill: #fff;
      }

    }

  }

  &__show-more{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 13px 0 11px;
    padding: 0 14px;
    border: none;
    color: #45d1de;
    font-size: 14px;
    letter-spacing: .4px;
    background-color: transparent;

    &:after{
      position: relative;
      top: -1px;
      width: 5px;
      height: 5px;
      margin-left: 7px;
      border-right: 1px solid #45d1de;
      border-bottom: 1px solid #45d1de;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
    }

  }

  &__back{
    display: none;
    margin: 0 14px 12px;
    padding: 7px 22px 9px;
    border-radius: 1px;
    font-size: 13px;
    background-color: #45d1e0;
    color: #fff;

    svg{
      width: 10px;
      fill: #fff;
    }

  }

  &_casinos{
    width: 100%;
    background-color: inherit;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;

    .links__wrap{
      position: relative;
      max-height: 320px;
    }

    &.active{
      display: block;
      height: 100%;
      padding-top: 22px;

      &:before{
        display: none;
      }

      .links__wrap{
        height: calc( 100% - 90px );
        max-height: none;
      }

      .links__search{
        display: block;
      }

      .links__item{
        padding: 9px 14px;
      }

      .links__back{
        display: inline-block;
      }

      .links__show-all{
        display: none;
      }

    }

  }

}

@media (min-width: $tablet-portrait) {

  .links{
    padding: 26px 0 11px;
    font-size: 15px;

    &:first-child {
      padding-top: 0;
    }

    &:before{
      left: 43px;
      right: 43px;
    }

    &_casinos{
      margin-top: -55px;

      .links__item{
        font-size: 14px;
        padding: 9px 43px;
      }

      .links__title {
        margin-bottom: 6px;
      }

      &.active{

        .links__item{
          padding: 9px 43px;
        }

      }

    }

    &__title{
      margin-bottom: 12px;
      padding: 0 43px 0 44px;

      &_1{
        margin-bottom: 14px;
      }

    }

    &__item{
      padding: 12px 43px 13px;

      span{
        font-size: 12px;
      }

    }

    &__show-all{
      width: 252px;
      height: 31px;
      margin: 14px auto 9px;

      span{
        width: 45px;
      }

    }

    &__show-more{
      margin-top: 11px;
      padding: 0 43px;
      font-size: 15px;

      &:after{
        width: 6px;
        height: 6px;
        margin-left: 11px;
      }

    }

    &__search{
      margin: 22px 43px 9px 44px;

      input{
        height: 38px;
        padding: 0 10px 0 33px;
      }

      button{
        top: 56%;
        left: 6px;
      }

    }

    &__back {
      margin: 17px 43px 15px;
    }

  }

}

@media (min-width: $desktop) {

  .links{

    &__item{

      &:hover{
        background-color: #45d1dd;
        color: #283746;

        span{
          color: #283746;
        }

      }

    }

    &__show-all{
      -webkit-transition: color .3s ease;
      transition: color .3s ease;

      svg{
        -webkit-transition: fill .3s ease;
        transition: fill .3s ease;
      }

      &:hover{
        color: #283746;

        svg{
          fill: #283746;
        }

      }

    }

    &__show-more{

      &:hover{
        text-decoration: underline;
      }

    }

  }

}