#logo {
  position: relative;
  top: 1px;
  width: 162px;

  svg{
    width: 100%;
  }

  .cls-1{
    fill:#283746;
  }

  .cls-2{
    fill:#fff;
  }

}

@media (min-width: $tablet-portrait) {

  #logo{
    top: 3px;
    width: 324px;
  }

}

@media (min-width: $desktop) {

  #logo{
    top: 1px;
    width: 249px;
    margin-left: 45px;
  }

}