.nice-checkbox {
  display: inline-block;
  vertical-align: top;
  user-select: none;

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + span {

      &:after{
        border-color: #45d1de;
        background-color: #45d1de;
      }

      &:before {
        opacity: 1;
      }

    }

    &:disabled + span {
      cursor: default;
      opacity: .5;
    }

  }

  span {
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-left: 25px;
    color: $nice-checkbox-color;
    cursor: pointer;

    &:after,
    &:before {
      position: absolute;
      content: '';
    }

    &:after {
      top: 4px;
      left: 5px;
      width: 9px;
      height: 9px;
      border: 1px solid #83868a;
      border-radius: 3px;
      content: '';
    }

    &:before {
      top: 6px;
      left: 8px;
      width: 3px;
      height: 5px;
      border-bottom: 1px solid #f2f2f2;
      border-right: 1px solid #f2f2f2;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      z-index: 1;
      content: '';
    }

  }

}

@media (min-width: $tablet-portrait) {

  .nice-checkbox{

    span {
      padding-left: 25px;

      &:after{
        top: 5px;
        left: 6px;
        width: 10px;
        height: 10px;
      }

      &:before{
        top: 7px;
        left: 10px;
      }

    }

  }

}