.single-bonus {

  &__back {
    margin: 0 0 21px;
    padding: 0 26px;
  }

  &__note {
    overflow: hidden;
    margin: 0 0 14px;
    border: 1px solid #45d1de;
    border-radius: 2px;
    background: #f8f8f8;
    color: #283746;
    font-size: 13px;
    line-height: 20px;

    &-title {
      padding: 14px 10px 14px 52px;
      background: url("../img/note.png") no-repeat #45d1de 15px 10px;
      background-size: 31px 31px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
    }
    &-content {
      padding: 10px 15px 7px;
    }

  }

  .contact-us {
    margin-bottom: 35px;
    border-bottom: 1px solid #dce0db;

    &__form {
      margin: 0 0 30px;
    }

  }
  .bonus {
    margin-bottom: 27px;
  }

}

@media (min-width: $tablet-portrait) {

  .single-bonus {

    .contact-us {
      margin-top: 54px;
      border-bottom: none;

      &.hidden {
        opacity: 1;
        visibility: visible;
        height: auto;
      }

      &__form {
        margin: 0 0 19px;

        button[type=submit] {
          padding: 0 16px;
        }

      }

    }
    .bonus {
      margin-bottom: 56px;
    }
    &__note {
      @include flexbox();
      @include justify-content();
      @include align-items();
      @include flex-direction();
      width: 100%;
      margin: 0 0 20px;
      border: 2px solid #45d1de;
      font-size: 15px;
      line-height: 22px;

      &-title {
        width: 138px;
        padding: 86px 15px 27px;
        background: url("../img/note.png") no-repeat #45d1de center 33px;
        background-size: 48px 48px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
      }
      &-content {
        width: calc(100% - 138px);
        padding: 17px 20px 7px;
      }

    }

  }

}
@media (min-width: $desktop) {

  .single-bonus {

    .contact-us {

      &__form {
        margin: 0 0 10px;
      }

      > div {
        &:first-of-type {
          width: 66.6%;
        }
      }

    }
    &__note {

      &-content {
        padding: 17px 20px 7px;
      }

    }

  }

}