.site {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  @include noto-sans();

  &__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: #45d1de;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14),0 4px 8px 0 rgba(0, 0, 0, 0.28);
  }

  &__aside{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 339px;
    background-color: #283747;
    box-shadow: 2px 0 2px 0 rgba(186, 186, 186, 0.004);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX( -339px );
    transform: translateX( -339px );
    z-index: 5;
    -webkit-transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
    transition: transform .3s ease, opacity .3s ease, visibility .3s ease;

    &.show{
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateX( 0 );
      transform: translateX( 0 );
    }

    .ps-scrollbar-y-rail{
      width: 10px;
      background-color: #445669!important;
      opacity: 1!important;
    }

    .ps-scrollbar-y{
      background-color: #45b8c7!important;
      cursor: pointer;
    }

  }

  &__content{
    padding: 17px 13px 17px 15px;
  }

}

@media (min-width: $tablet-portrait) {
  .site {

    &__header{
      height: 75px;
    }

    &__aside{
      top: 75px;
      padding-top: 37px;
    }

    &__content{
      padding: 37px 20px 12px;
    }

  }
}

@media (min-width: $desktop) {
  .site {

    &__wrap{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }

    &__aside{
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateX( 0 );
      transform: translateX( 0 );

      &.fixed{
        position: fixed;
        top: 0;
      }

    }

    &__content{
      margin: 0 20px 0 359px;
      padding: 34px calc( 50% - 640px ) 12px;
    }

  }
}